.header {
  grid-column: 1/-1;
  grid-row: 1/2;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60px 60px 60px 1fr 160px 100px 50px;
}
.headerMenuButtonActive {
  background-color: aqua;
}
.headerDayCount {
  display: flex;
  grid-column: 5/6;
}
.syncButton {
  grid-column: 7/8;
}
